:root {
  --background: #1e1e1e;
  --foreground: #d4d4d4;

  --red: #f94144;
  --orange: #f3722c;
  --yellow: #f9c74f;
  --green: #90be6d;
  --blue: #43aa8b;
  --indigo: #577590;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}

section {
  position: absolute;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* === ERROR SECTION === */
section#error-section {
  display: none;
}

section#error-section.active {
  display: flex;
}

section#error-section h1 {
  color: var(--red);
  margin-bottom: 1rem;
  text-shadow: 0 0 10px var(--red);
}